
.depicter-revert .depicter-1-element-3{
	font-size:54px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-6{
	font-size:34px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-4 .depicter-section-background{
	background-color:#FFFFFF;
}

